<ion-header >
  <ion-toolbar class="loginToolbar1">
    <ion-title>Chat by <b>Miguel Torres</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content2">
  <br/><br/>
  <div class="ion-text-center">
    <img src="../../../assets/img/chat.png" class="img1">
  </div>
  <br/><br/>



  <div padding>
    <ion-segment [(ngModel)]="opt" color="light" class="card1">
      <ion-segment-button value="signin" class="card1">
        Sign In
      </ion-segment-button>
      <ion-segment-button value="signup" class="card1">
        Sign Up
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="opt">
    <form  *ngSwitchCase="'signin'">

      <ion-card-content class="card1">
        <br/>
        <form [formGroup]="credentialForm">
          <ion-item>
            <ion-input
              placeholder="Email address"
              formControlName="email"
              autofocus="true"
              clearInput="true"
            ></ion-input>
          </ion-item>
          <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
            <span *ngIf="email.errors?.required">Email is required</span>
            <span *ngIf="email.errors?.email">Email is invalid</span>
          </div>
      
          <ion-item>
            <ion-input
            placeholder="Password"
            type="password"
            formControlName="password"
            clearInput="true"
          ></ion-input>
          </ion-item>
          <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
            <span *ngIf="password.errors?.required">Password is required</span>
            <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
          </div>
  
        </form>
        <br/>
        <ion-grid>
          <ion-row>
            <ion-col>
              
            </ion-col>
            <ion-col>
              <ion-button (click)="signIn()" expand="full" shape="round" color="secondary">Sing in</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </form>

    <form  *ngSwitchCase="'signup'">
      <ion-card-content class="card1">
        <br/>
        <form [formGroup]="credentialForm">
          <ion-item>
            <ion-input
              placeholder="Email address"
              formControlName="email"
              autofocus="true"
              clearInput="true"
            ></ion-input>
          </ion-item>
          <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
            <span *ngIf="email.errors?.required">Email is required</span>
            <span *ngIf="email.errors?.email">Email is invalid</span>
          </div>
      
          <ion-item>
            <ion-input
            placeholder="Password"
            type="password"
            formControlName="password"
            clearInput="true"
          ></ion-input>
          </ion-item>
          <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
            <span *ngIf="password.errors?.required">Password is required</span>
            <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
          </div>
  
        </form>
        <br/>
        <ion-grid>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              <ion-button (click)="signUp()" expand="full" shape="round" class="btn1" color="primary">Sing up</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

      


    </form>

  </div>
    
</ion-content>