.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.loginToolbar1{
    --background: #7B241C;
    --color: white;
}

.card1{
    background: var(--ion-color-light-message1);
    color: #fff;
}

.content2{
   
    --background: url(../../../assets/img/fondo2.png) 0 0/100% 100% no-repeat;
    
}

.img1{
    width: 120px;
    height: 120px;
    text-align: center;
}